<!DOCTYPE html>
<html>

<head>
    <title>People's Doc</title>


    <!------- Bootstrap ---------->

    <!-- Make site responsive on mobile/tablet -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="/stylesheet/bootstrap/bootstrap.min.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">

    <!--------- Fonts ----------->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    <!------- My styles --------->
    <link rel="stylesheet" href="/stylesheet/style.css">

    <!-------- Bootstrap 5 script----------->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>

    <style>
        body {
            padding-bottom: 20px;
        }

        .navbar {
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="main navbar">
        <div class="container">
            <!-- <a class="navbar-brand text-primary" href="/">People's Doc</a> -->
            <a href="/" class="navbar-brand">
                <img src="/assets/images/logo2rb.png" alt="logo" width="130" height="90">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07"
                aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- Added the dashboard button to menu bar to navigate to dasboard -->
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
                    </li>
                    <!-- Added drop down for the Doctor item in the menu bar to fetch the all doctors,best doctors and create doctor -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                            aria-expanded="false">Doctor</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/doctor/all">All Docs</a></li>
                            <li><a class="dropdown-item" href="/bestDoctors">Best Doctors</a></li>
                            <li><a class="dropdown-item" href="/doctor/doctorForm">Create a Doctor</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                            aria-expanded="false">Disease</a>
                            <!-- Added the drop down menu in the disease form  -->
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/diseaseForm">Create a Disease</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                            aria-expanded="false">Dropdown</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>

                <input class="form-control ms-3" type="search" placeholder="Search" aria-label="Search">
                <!-- Added the login and signupin te menu bar for the user to login to account -->
                <% if(!currentUser){ %>
                    <ul class="navbar-nav">
                        <li class="nav-item ms-3">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                        <li class="nav-item ms-3">
                            <a class="nav-link" href="/register">Sign Up</a>
                        </li>
                    </ul>
                    <% } %>
                        <% if(currentUser){ %>
                            <ul class="navbar-nav">
                                <li class="nav-item ms-3">
                                    <a class="nav-link text-success" href="/user/<%= currentUser._id %>/edit">
                                        <%= currentUser.username %>
                                    </a>
                                </li>
                                <!-- <li class="nav-item dropdown m-0 z-1">
                                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                                        aria-expanded="false"></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/user/<%= currentUser._id %>/edit">Edit
                                                Profile</a></li>
                                    </ul>
                                </li> -->
                                <!--*----- Search of Navbar --------->

                                <form class="d-flex ms-3" role="search">
                                    <!-- <button class="btn btn-outline-danger" type="submit" onclick="location.href='/logout'"></button> -->
                                    <a href="/logout" class="btn btn-outline-danger" type="submit"> Logout </a>
                                </form>
                            </ul>
                            <% } %>
            </div>
        </div>
    </nav>

    <div class="container">
        <% if(error && error.length> 0 ){ %>

            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>

            <% } %>

                <% if(success && success.length> 0 ){ %>

                    <div class="alert alert-success" role="alert">
                        <%= success %>
                    </div>

                    <% } %>
    </div>
    <div class="container">
