<%- include("../partials/header") %>

        <div class="row mb-2">
        <% allDiseases.forEach(function(Disease){ %>

            <div class="col-md-6">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">World</strong>
                        <h3 class="mb-0">
                            <%= Disease.disease %>
                        </h3>
                        <p class="card-text mb-auto">
                        <ul>
                            <% Disease.symptoms.forEach(function(symptom){ %>
                                <li>
                                    <%= symptom %>
                                </li>
                                <% }) %>
                        </ul>
                        </p>
                        <form action="/symptoms/diseases/doctors" method="post">
                            <button name="diseaseName" value="<%= Disease.disease %>"
                                class="stretched-link btn btn-primary" type="submit">Find Doctors?</button>
                        </form>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img class="bd-placeholder-img" width="200" height="250"
                            src="/assets/images/disease1.jpg" alt="">

                    </div>
                </div>
            </div>
            <% }) %>
        </div>






            <%- include("../partials/footer") %>
